*.o
*.so
*.dsc
*.tar.gz
*_*.changes
*.deb
README.html
INSTALL.html
README
INSTALL
country_osm_grid.sql
osml10n_country_osm_grid.data
debian/postgresql-*-osml10n*
osml10n--*.sql
osml10n.control
debian/files
country_languages.data
