*.o
*.so
*.dsc
*.tar.gz
*_*.changes
*.deb
*.html
README
INSTALL
osml10n_country_osm_grid.data
debian/postgresql-*-osml10n*
debian/debhelper-build-stamp
*--*.sql
*.control
debian/files
country_languages.data
debian/.debhelper
country_osm_grid.sql
thaitranscript/__pycache__
thaitranscript/osml10n_thai_transcript.py
